div[data-cell] {
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  float: left;
  border: 1px solid #808080;
  font-size: 100px;
  text-align: center;
}

input {
  width: 95px;
  height: 95px;
  background-color: #f2f2f2;
  float: left;
  border: 1px solid #808080;
  font-size: 75px;
  text-align: center;

}

.hints {
margin: 30px;
}
button {
  width: 95px;
  height: 95px;
  background-color: #f2f2f2;
  float: left;
  border: 1px solid #808080;
  font-size: 75px;
  text-align: center;

}

div .checkAnswer {
  font-size: 25px;
}

.checkerButton {
margin-left: 30px;
font-size: 20px;
text-align: center;
word-wrap: break-word;

}
.generateButton {
width: 250px;
height: 35px;
background-color: aqua;
margin-top: 10px;
margin-bottom: 30px;
border: 2px solid #808080;
font-size: 20px;
text-align: center;
word-wrap: break-word;

}

.row {
  clear: both;
  margin-left: 25%;
  margin-right: 25%;
}

#announce-winner {
  clear: both;
}
